.flair-onTour { position: relative; margin-left: 5.5em; }
.flair-onTour:before { content: "On Tour"; background: #FFCF3F; border: 1px solid #C99700; position: absolute; left: -5.5em; padding: 0 0.25em; top: -1px; border-radius: 2px; }

.flair-noSoupForYou { display: none; }

.flair-1k, .flair-3k, .flair-5k { position: relative; margin-left: 2.5em; }
.flair-10k, .flair-20k { position: relative; margin-left: 3.25em; }

.flair-1k:before, .flair-3k:before, .flair-5k:before { position: absolute; left: -2.5em; padding: 0 0.25em;  top: -1px; border-radius: 2px; }
.flair-10k:before, .flair-20k:before { position: absolute; left: -3.25em; padding: 0 0.25em;  top: -1px; border-radius: 2px;}

.flair-1k:before { content: "1k"; background: #F9F9CF; border: 1px solid #EDE978; }
.flair-3k:before { content: "3k"; background: #FFC896; border: 1px solid #BA7A46; }
.flair-5k:before { content: "5k"; background: #cdeb8b; border: 1px solid #78992C; }
.flair-10k:before { content: "10k"; background: #8CDCEA; border: 1px solid #2C6B99; }
.flair-20k:before { content: "20k"; background: #EA8C8C; border: 1px solid #992C2F; }

.thing .title.loggedin { color: #0B65AA; }
.thing .title.loggedin.click { color: #673F7C; }

.link { margin-top: 3px; margin-bottom: 3px; padding: 4px; }

#header-bottom-left { background: transparent url(%%bct-v1-mountains-rays%%) no-repeat; }
#header-img { position: relative; top: 3px; }

.tabmenu { overflow: hidden; padding: 8px 8px 2px; }
.tabmenu li a { border-top-left-radius: 6px; border-top-right-radius: 6px; padding: 3px 7px; }

.sidebox.create { display: none; }

.side .usertext-body strong { display:block; margin: 10px 0; padding: 10px 0; border-top: 1px solid #CCC; border-bottom: 1px solid #CCC; font-size: 18px; }

#text-field .title:after { content: ": please read our FAQ to see if your question has already been answered before submitting."; }

body.wiki-page .wiki-page-content .md.wiki h1 { font-size: 1.8em; }
body.wiki-page .wiki-page-content .md.wiki h2 { font-size: 1.5em; margin-bottom: 0.75em; }
body.wiki-page .wiki-page-content .md.wiki h3 { font-size: 1.2em; }
body.wiki-page .wiki-page-content .md.wiki h4 { font-size: 1em; }